/Prac1_1.class
/Prac1_10.class
/Prac1_11.class
/Prac1_12.class
/Prac1_2.class
/Prac1_3.class
/Prac1_4.class
/Prac1_5.class
/Prac1_6.class
/Prac1_7.class
/Prac1_8.class
/Prac1_9.class
/Prac2_1.class
/Prac2_2.class
/Prac2_3.class
/Prac2_4.class
/Prac2_5.class
/Prac2_6.class
/Prac3_1.class
/Prac3_10.class
/Prac3_10Test.class
/Prac3_2.class
/Prac3_3.class
/Prac3_4.class
/Prac3_5.class
/Prac3_6.class
/Prac3_7.class
/Prac3_8.class
/Prac3_9.class
/Prac4_1.class
/Prac4_1Test.class
